*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 初始化css用*對margin paddind使用0設定 */
.time-set{
    display:flex;
    width: 70%;
    min-width: 615px;
    justify-content: space-between;
}
.time-item{
    margin: 5px 0;
}
.subject-input{
    font-family: '微軟正黑體',Arial, Helvetica, sans-serif;
    padding: 3px;
    font-size: 16px;
    width: 50%;
}
header{
    background-color: darkolivegreen;
    height: 45px;
    padding-top: 5px;
    background: linear-gradient(90deg, rgb(0, 47, 255),rgb(255, 255, 255),red);
}
header>a{
    
    color:gainsboro;
    font-size: 24px;
    padding-left:10px ;
    padding-right:10px ;
    border: 5px double rgb(101, 249, 163);
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(7, 15, 252),0 0 10px rgb(255, 255, 255),0 0 5px red;
}
main{
    width: 60%;
    margin: auto;
    
}
body{
    background: linear-gradient(90deg, rgb(0, 47, 255,0.5),rgb(255, 255, 255,0.5),rgb(255, 5, 5,0.5));
}
nav{
    filter: blur(0.5px);
    font-size: 30px;
    text-align: center;
    border:2px solid whitesmoke;
    backdrop-filter:blur(40px) ;
    text-decoration-line: none;
}
.topic-list{
    list-style-type: none;
}
.list-row{
    display:flex;
    width: 100%;
}
.list-row div:not(1){
    text-align: center;
}
.list-item-tiele:nth-child(1),
.list-item:nth-child(1){
    width: 40%;
}
.list-item-tiele:nth-child(2),
.list-item:nth-child(2){
    width: 5%;
}
.list-item-tiele:nth-child(3),
.list-item:nth-child(3){
    width: 15%;
}
.list-item-tiele:nth-child(4),
.list-item:nth-child(4){
    width: 5%;
}
.list-item-tiele:nth-child(5),
.list-item:nth-child(5){
    width: 25%;
}